@import '../../styles/variable.scss';

.container {
  background-color: #1a1a1a;
  border-radius: 0.8rem;
  padding: 2rem;

  .upperContainer {
    @include flexbox(center, flex-start);

    span {
      color: $blue-helper-color;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  .text {
    margin-top: -1rem;
    color: #fff;
    padding-left: 5.5rem;
    padding-bottom: 1.9rem;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
