@import '../../styles/variable.scss';

.container {
  flex-direction: column;
  position: relative;
  background-color: $main-background-color;
}

.upperSection {
  @include flexbox(flex-start, center, column);
  background-color: $main-background-color;
  color: #fff;
  padding: 4rem 13.2rem;

  h2 {
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 3.5rem;

    span {
      color: $blue-helper-color;
    }
  }

  p {
    font-size: 2rem;
    opacity: 0.7;
    width: 45rem;
    line-height: 2.3rem;
    margin-bottom: 4rem;
  }

  button {
    color: $blue-helper-color;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;

    svg {
      margin-left: 1rem;
    }
  }
}

.lowerSection {
  @include flexbox(flex-start, flex-start);
  border: 1px solid #fff;
  border-radius: 2rem;
  margin: 2rem 13.2rem;
  height: 74.8rem;
  overflow: hidden;
  position: relative;

  .back {
    background-color: transparent;
    color: $blue-helper-color;
    @include flexbox;
    position: absolute;
    left: 10.5rem;
    top: 3rem;
    z-index: 9;
    border: none;
  }
}

.leftSide {
  width: 45%;
  filter: invert(0.07);

  .heroSecond {
    font-size: 10rem;
  }

  div {
    h2 {
      font-size: 3.8rem;
    }

    p {
      margin-top: -2rem;
      font-size: 1.591rem;
    }

    button {
      display: none;
    }
  }
}

.leftSide > div:first-child {
  border-top-left-radius: 2rem;
}

.leftSide > div:nth-child(2) {
  border-bottom-left-radius: 2rem;
}

@media (max-width: 450px) {
  .container {
    transform: unset;

    .upperSection {
      padding: 2rem;

      h2 {
        text-align: center;
        font-size: 4.8rem;
      }
      p {
        width: 100%;
      }
    }

    .lowerSection {
      margin: 0;
      flex-direction: column;
      height: unset;

      .leftSide {
        width: 100%;
      }

      .back {
        left: 20px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    transform: rotate(-90deg);
    opacity: 1;
    transition: transform 1.5s ease;
  }
}
