@font-face {
  font-family: "SF Pro Display Regular";
  src: url("../../public/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}
:root {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #020202;
}

* {
  padding: 0;
  margin: 0;
  font-family: "SF Pro Display Regular", sans-serif;
  box-sizing: border-box;
}

.second-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #020202;
}

.third-section {
  margin-top: 16rem;
  display: flex;
  padding: 0 13.2rem;
  background-color: #020202;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

.fourth-section {
  padding-top: 12rem;
  border-bottom: 1px solid #303030;
  margin-bottom: 12rem;
}