@import '../styles/variable.scss';

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('../../public/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: $main-background-color;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display Regular', sans-serif;
}

.second-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: $main-background-color;
}

.third-section {
  margin-top: 16rem;
  display: flex;
  padding: 0 13.2rem;
  background-color: $main-background-color;
  border-top: 1px solid #303030;
}

.fourth-section {
  padding-top: 12rem;
}
