.left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid #303030;
  padding: 8rem 0;
  flex: 2;
}
.left h2 {
  color: #fff;
  font-weight: 700;
  font-size: 6.4rem;
  width: 70%;
  line-height: 6.7rem;
}
.left p {
  margin-top: 1.4rem;
  color: #fff;
  opacity: 0.7;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.72px;
  width: 48rem;
}
.left button {
  margin-top: 3rem;
  background-color: #b6fbff;
  border: none;
  width: 16.5rem;
  height: 5.6rem;
  border-radius: 4rem;
}
.left div {
  background-color: #212121;
  width: 47.6rem;
  height: 56rem;
  border-radius: 2rem;
  margin-top: 8rem;
}

.right {
  flex: 3;
}
.right .imageContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 70%;
  justify-items: flex-end;
  padding-left: 8rem;
  gap: 2rem;
  padding-top: 6rem;
}
.right .imageContainer p {
  margin-top: 1.6rem;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
}
.right .imageContainer img {
  margin-top: 2rem;
  width: 27.5rem;
  height: 28rem;
}